#accueil{
  overflow: hidden;
  

}

.image{
  position:relative;
  overflow:hidden;
  padding-bottom:100%;

  transition:.6s;
 
  
  img{
    width: 100%;
    top:0px;
    left:0px;
    transition:.6s;
    position:absolute;
  }

  img:last-of-type{
    image-rendering:pixelated;
  }

  &:hover img:last-of-type{
    opacity:0;
   
  }
}



.navbar-toggler-icon {
  background-image: none!important;
}

h1{
  font-size: 4em !important;
}

.subtitle{

  div{
    height:5px;
    background-color: white;
  }
}
