@keyframes visibletext {

  0%{
    opacity: 3;
  }
  100%{
    opacity: 0;
    color: blue;
  }
}

#apropos{
  background: url(./backgroundbody.svg);
  display: flex;
  flex-wrap: nowrap;

  button{
    top:20px;
    right: 20px;
    border: none;
    background-color: transparent;
  
    &:active{
      border: none !important;
    }
    &:hover{
      transform: rotate(55deg);
    }
    transition: .2s ease all;
  }
#cv{
  button{
    &:hover{
      opacity: .7;
      transform: none !important;
    }
    transition: .5s ease all;
  }
}

}

.nav-title{
  span{
    opacity: 0;
    animation: visibletext 6s ease;
  }
}

.profil-container{
  transition: .7s all;
  cursor: move;
  &:hover{
    transform: translateX(-1%);
  }
  height: fit-content;
  path{
    stroke-width: 5;
  }
  &:last-of-type{
    path{
      stroke: #fff;
    }
  }
  .title{
    font-size: 2.7em !important;
  }
}

.profil-desc {
  font-family: playfair;
  transition: .7s all;
}

p{
  font-family: monospace;
}

.profil-bts {
  height: fit-content;
  font-family: playfair,sans-serif;
}



@keyframes popIn {
  0% { transform: translateY(50px) scale(0); opacity: 0; }
  100% { transform: translateY(0px) scale(1); opacity: 1; }
}

@keyframes unpopup {
  0% { transform: translateY(0px) scale(1); opacity: 1; }
  100% { transform: translateY(50px) scale(0); opacity: 0;  }
}

.pop-in{
  animation: popIn .3s ease-out  ;
}

.pop-out{
  animation: unpopup .3s ease-out  ;
}


.dot {
  height: 10px;
  width: 10px;
  background-color: var(--color-smoothblue);
  border-radius: 50%;
  margin: 0 2px;
  display: inline-block;
}

.empty{
  border: 1px solid var(--color-smoothblue) ;
  background-color: transparent;
}