:root{
  --color-white : #ffffff ;
  --color-lightgrey :#fbfbfb;
  --color-darkgrey :#e1e1e1;
  --color-smoothblack :#1B1919;
  --color-smoothblue :#719EB7;
  --color-video :rgb(9, 9, 9) ;
}

html, body, #root, #root>div   {
  height: 100vh;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: var(--color-video) ;
  font-family: monospace;

}


